/*

Alice's Sulaco theme customizations.
This applies extended icon font glyphs to many events (and all event message times to distinguish them), expands "own"
message backgrounds to the full width including time, adjusts line leading in a few edge cases, and tweaks action
presentation to better align.

If using this theme, ensure you are using a Nerdfonts patched font of choice! The extended Unicode glyphs will only
render correctly when utilizing one of these fonts.

TODO: adjust inline media control display.

*/

#topicBar {
	box-shadow: none;
	padding-bottom: 1ex;
	text-align: left;
	font-weight: normal;
	opacity: 1 !important;
}

#topicBar::first-line {
	font-weight: bold;
}

.time {
	text-align: right;
	background-color: transparent;
	line-height: 1.4;
}

.text .time {
	line-height: 1.6;
}

.event .sender:empty { display: none; }
.event .message { font-size: 0.8em; }
.event .message:before { content: ''; }
.event .time:before { content: '\f7fc  '; opacity: 0.5; }

.event[data-command="quit"] .message {  }
.event[data-command="join"] .message::first-line {  }
.event[data-command="quit"] .message:before { content: '\f818  ' !important; width: 1em; }
.event[data-command="join"] .message:before { content: '\f817  ' !important; width: 1em; }
.event[data-command="nick"] .message:before { content: '\f2c3  ' !important; width: 1em; }
.event[data-command="quit"] .message > :first-child,
.event[data-command="join"] .message > :first-child {  }

body[data-view-type="channel"] .event .message {
	color: #aaa;
}

div.line[data-line-type="action"] .message,
div.line[data-line-type="action"] .sender {
	font-style: normal;
}

div.line[data-line-type="action"] .message {
	padding-left: calc(8px + 1ex);
}

div.line[data-line-type="action"] .message {
	padding-left: 1ex;
}

div.line[data-member-type="myself"] .time {
	background-color: #2e2e2e;
}